{% macro social_links(social_config) %}
  <p class="is-size-4">
    {% if social_config.email %}
      <a class="link" title="Email" href="mailto:{{ social_config.email }}" target="_blank">
        <span class="icon is-medium">
          <i class="fa fa-envelope"></i>
        </span>
      </a>
    {% endif %}
    {% if social_config.location %}
      <a class="link" title="Location" href="{{ social_config.location }}" target="_blank">
        <span class="icon is-medium">
          <i class="fa fa-map-marker"></i>
        </span>
      </a>
    {% endif %}
    {% if social_config.orcid %}
      <a class="link" title="ORCiD" href="https://orcid.org/{{ social_config.orcid }}" target="_blank">
        <span class="icon is-medium">
          <i class="ai ai-orcid"></i>
        </span>
      </a>
    {% endif %}
    {% if social_config.dblp %}
      <a class="link" title="dblp" href="https://dblp.uni-trier.de/pid/{{ social_config.dblp }}.html" target="_blank">
        <span class="icon is-medium">
          <i class="ai ai-dblp ai-lg"></i>
        </span>
      </a>
    {% endif %}
    {% if social_config.google_scholar %}
      <a class="link" title="Google Scholar" href="https://scholar.google.com/citations?user={{ social_config.google_scholar }}" target="_blank">
        <span class="icon is-medium">
          <i class="ai ai-google-scholar"></i>
        </span>
      </a>
    {% endif %}
    {% if social_config.github %}
      <a class="link" title="Github" href="https://github.com/{{ social_config.github }}" target="_blank">
        <span class="icon is-medium">
          <i class="fab fa-github"></i>
        </span>
      </a>
    {% endif %}
    {% if social_config.stackoverflow %}
      <a class="link" title="StackOverflow" href="https://stackoverflow.com/users/{{ social_config.stackoverflow }}" target="_blank">
        <span class="icon is-medium">
          <i class="fab fa-stack-overflow"></i>
        </span>
      </a>
    {% endif %}
    {% if social_config.facebook %}
      <a class="link" title="Facebook" href="https://facebook.com/{{ social_config.facebook }}" target="_blank">
        <span class="icon is-medium">
          <i class="fab fa-facebook"></i>
        </span>
      </a>
    {% endif %}
    {% if social_config.linkedin %}
      <a class="link" title="Linkedin" href="https://www.linkedin.com/in/{{ social_config.linkedin }}" target="_blank">
        <span class="icon is-medium">
          <i class="fab fa-linkedin"></i>
        </span>
      </a>
    {% endif %}
    {% if social_config.twitter %}
      <a class="link" title="Twitter" href="https://twitter.com/{{ social_config.twitter }}" target="_blank">
        <span class="icon is-medium">
          <i class="fab fa-twitter"></i>
        </span>
      </a>
    {% endif %}
    {% if social_config.keybase %}
      <a class="link" title="Keybase" href="https://keybase.io/{{ social_config.keybase }}" target="_blank">
        <span class="icon is-medium">
          <i class="fab fa-keybase"></i>
        </span>
      </a>
    {% endif %}
  </p>
{% endmacro %}
{% macro  page_publish_metadata(page) %}
  <p class="has-text-grey">
    <span class="icon">
      <i class="fas fa-user"></i>
    </span>
    {{ config.extra.author.name }} published on
    <span class="icon">
      <i class="far fa-calendar-alt"></i>
    </span>
    <time datetime='{{ page.date }}'>{{ page.date | date(format='%B %d, %Y') }}</time>
  </p>
{% endmacro %}
{% macro page_content_metadata(page) %}
  <p class="has-text-grey">
    <span class="icon">
      <i class="far fa-clock"></i>
    </span>
    {{ page.reading_time }} min,
    <span class="icon">
      <i class="fas fa-pencil-alt"></i>
    </span>
    {{ page.word_count }} words
  </p>
{% endmacro %}
{% macro render_categories(categories) %}
  <p>
    <span class="has-text-black has-text-weight-normal">Categories:</span>
    {% for category in categories %}
      <a class="link has-text-weight-light" href='{{ get_taxonomy_url(kind='categories', name=category) }}'>
        <span class="icon is-small">
          <i class="fas fa-folder fa-xs"></i>
        </span>
        {{ category }}
      </a>
    {% endfor %}
  </p>
{% endmacro %}
{% macro render_tags(tags) %}
  <p>
    <span class="has-text-black has-text-weight-normal">Tags:</span>
    {% for tag in tags %}
      <a class="link has-text-weight-light" href='{{ get_taxonomy_url(kind='tags', name=tag) }}'>
        <span class="icon is-small">
          <i class="fas fa-tag fa-xs"></i>
        </span>
        {{ tag }}
      </a>
    {% endfor %}
  </p>
{% endmacro %}
{% macro page_share_links(page) %}
  <p class="is-size-5">
    Share:
    <a class="link" data-sharer="facebook" data-url='{{ page.permalink }}' href="javascript:void(0);" title="Share on facebook">
      <span class="icon">
        <i class="fab fa-facebook-square"></i>
      </span>
    </a>
    <a class="link" data-sharer="twitter" data-title='{{ page.title }}' data-url='{{ page.permalink }}' href="javascript:void(0);" title="Share on twitter">
      <span class="icon">
        <i class="fab fa-twitter"></i>
      </span>
    </a>
    <a class="link" data-sharer="linkedin" data-url='{{ page.permalink }}' href="javascript:void(0);" title="Share on linkedin">
      <span class="icon">
        <i class="fab fa-linkedin"></i>
      </span>
    </a>
    <a class="link" data-sharer="reddit" data-url='{{ page.permalink }}' href="javascript:void(0);" title="Share on reddit">
      <span class="icon">
        <i class="fab fa-reddit"></i>
      </span>
    </a>
    <a class="link" data-sharer="hackernews" data-title="{{ page.title }}" data-url='{{ page.permalink }}' href="javascript:void(0);" title="Share on hackernews">
      <span class="icon">
        <i class="fab fa-hacker-news"></i>
      </span>
    </a>
    <a class="link" data-sharer="whatsapp" data-title="{{ page.title }}" data-url='{{ page.permalink }}' href="javascript:void(0);" title="Share on whatsapp">
      <span class="icon">
        <i class="fab fa-whatsapp-square"></i>
      </span>
    </a>
  </p>
{% endmacro %}

{% macro render_page_group(group, kind) %}
<div class="columns has-text-centered is-mobile is-gapless is-narrow">
    <div class="column">
        <div class="columns">
            <div class="column is-8 is-offset-2 is-gapless is-mobile">
                <a class="link title is-3 mb-4" id="{{ kind }}-{{ group.name | slugify }}" href="{{ get_taxonomy_url(kind=kind, name=group.name) }}">{{ group.name }}</a>
                {% set page_count = group.pages | length %}
                {% set column_count = page_count + page_count % 2 %}
                {% set page_count_half = column_count / 2 %}
                <div class="columns pt-4">
                    <div class="column is-half pb-0">
                        {% for page_index in range(end=page_count) %}
                        {% if page_index < page_count_half %}
                        {% set page = group.pages[page_index] %}
                        <div class="mb-2">
                            <a class="link" href="{{page.permalink }}">{{ page.title }}</a>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% if page_count_half != page_count %}
                    <div class="column is-half pb-0">
                        {% for page_index in range(end=page_count) %}
                        {% if page_index >= page_count_half %}
                        {% set page = group.pages[page_index] %}
                        <div class="mb-2">
                            <a class="link" href="{{page.permalink }}">{{ page.title }}</a>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro render_page_header(page) %}
    {% if page.taxonomies.categories[0] == "Publications" %}
        {{ macros::render_publication_header(publication=page) }}
    {% else %}
        {{ macros::render_non_publication_header(page=page) }}
    {% endif %}
{% endmacro %}

{% macro render_non_publication_header(page) %}
   <div class="columns is-multiline is-gapless mb-2 has-text-centered">
      <div class="column">
          <a class="link" href="{{ page.permalink }}">
              <p class="title is-3">{{ page.title }}</p>
              {% if page.description %}
              <p class="subtitle is-4">{{ page.description }}</p>
              {% endif %}
          </a>
      </div>
   </div>
   <div class="column has-text-centered py-0">
       <p class="subtitle is-5">{{ config.extra.author.name }}</p>
   </div>
   <div class="columns is-multiline is-gapless has-text-grey mb-3">
       <div class="column has-text-grey has-text-centered-mobile">
           <span class="icon">
               <i class="far fa-calendar-alt"></i>
           </span>
           <time datetime='{{ page.date }}'>{{ page.date | date(format='%B %d, %Y') }}</time>
       </div>
       <div class="column has-text-right-desktop has-text-centered-mobile has-text-grey">
           <span class="icon">
               <i class="far fa-clock"></i>
           </span>
           {{ page.reading_time }} min,
           <span class="icon">
               <i class="fas fa-pencil-alt"></i>
           </span>
           {{ page.word_count }} words
       </div>
   </div>
   <div class="columns is-multiline is-gapless mb-2">
       <div class="tags column has-text-centered-mobile">
           {% if page.taxonomies.categories %}
           {% for category in page.taxonomies.categories %}
           <a class="tag is-link" href='{{ get_taxonomy_url(kind='categories', name=category) }}'>
               {{ category }}
           </a>
           {% endfor %}
           {% endif %}
           {% if page.taxonomies.tags %}
           {% for tag in page.taxonomies.tags %}
           <a class="tag is-link is-light" href='{{ get_taxonomy_url(kind='tags', name=tag) }}'>
               {{ tag }}
           </a>
           {% endfor %}
           {% endif %}
       </div>
   </div>
{% endmacro %}


{% macro render_publication_header(publication) %}
    <div class="columns is-narrow is-gapless is-mobile mb-2">
        <div class="column">
            <a class="link" href="{{ publication.permalink }}">
                <h1 class="title is-4">{{ publication.title }}</h1>
            </a>
            {% if publication.extra.subtitle %}
            <h1 class="subtitle is-5">{{ publication.extra.subtitle }} </h1>
            {% endif %}
        </div>
        {% if publication.extra.venue.url %}
        <div class="column is-2-desktop is-2-tablet is-3-mobile">
            <a class="is-pulled-right tag is-link" href="{{ publication.extra.venue.url }}">
               {{publication.extra.venue.name}}'{{publication.extra.venue.year % 1000 }}
            </a>
        </div>
        {% endif %}
    </div>
    <h1 class="subtitle mb-2 is-6">
        {% set author_count = publication.extra.authors | length %}
        {% for index in range(end=author_count) %}
            <span class="is-light author">{{ publication.extra.authors[index] }}
            {% if index + 1 != author_count %}
            •
            {% endif %}
            </span>
        {% endfor %}
    </h1>
    <div class="columns is-mobile is-gapless is-multiline mb-2">
        <div class="column is-two-fifths is-pulled-left is-vcentered">
            {% if publication.extra.pdf %}
            <a class="link" title="PDF" href="{{ config.base_url }}/publications/{{ publication.extra.pdf }}" target="_blank">
                <span class="icon"><i class="fa fa-file-pdf fa-lg"></i></span>
            </a>
            {% endif %}
            {% if publication.extra.doi %}
            <a class="link" title="DOI" href="https://doi.org/{{ publication.extra.doi }}" target="_blank">
                <figure class="image is-24x24 is-inline-block">
                    <img class="is-rounded" title="Reusable" src="{{ config.base_url }}/images/doi.svg"></img>
                </figure>
            </a>
            {% endif %}
            {% if publication.extra.talk.youtube %}
            <a class="is-centered" title="Talk Video" href="{{ publication.extra.talk.youtube }}" target="_blank">
                <span class="icon">
                    <i class="fa fa-youtube fa-lg"></i>
                </span>
            </a>
            {% endif %}
            {% if publication.extra.citation.bibtex %}
            <div class="dropdown is-hoverable citation">
                <div class="dropdown-trigger">
                    <span class="icon" aria-haspopup="true" aria-controls="bibtex-menu">
                        <i class="fas fa-at" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="dropdown-menu" id="bibtex-menu" role="menu">
                    <div class="dropdown-content">
                        <div href="#" class="dropdown-item bibtex">
                            <pre class="has-background-white p-0"><code>{{ publication.extra.citation.bibtex }}</code></pre>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="artifact column is-three-fifths has-text-right is-vcentered">
            {% if publication.extra.artifact.functional %}
            <a class="is-inline-block link" href="{{ publication.extra.artifact.functional }}">
                <img class="is-rounded image is-24x24" title="Functional" src="{{ config.base_url }}/images/artifact-functional.jpg"></img>
            </a>
            {% endif %}
            {% if publication.extra.artifact.reusable %}
            <a class="is-inline-block link" href="{{ publication.extra.artifact.reusable }}">
                <img class="is-rounded image is-24x24" title="Reusable" src="{{ config.base_url }}/images/artifact-reusable.jpg"></img>
            </a>
            {% endif %}
            {% if publication.extra.artifact.available %}
            <a class="is-inline-block link" href="{{ publication.extra.artifact.available }}">
                <img class="is-rounded image is-24x24" title="Available" src="{{ config.base_url }}/images/artifact-available.jpg"></img>
            </a>
            {% endif %}
            {% if publication.extra.artifact.zenodo %}
            <a class="is-inline-block link" title="Artifact on Zenodo" href="{{ publication.extra.artifact.zenodo }}" target="_blank">
                <img class="image" src="{{ config.base_url }}/images/zenodo.png">
            </a>
            {% endif %}
        </div>
    </div>
    {% if publication.taxonomies.tags %}
    <div class="columns tags is-multiline is-centered">
        {% for tag in publication.taxonomies.tags %}
        <a class="tag is-link is-light is-centered" href='{{ get_taxonomy_url(kind='tags', name=tag) }}'>
            {{ tag }}
        </a>
        {% endfor %}
    </div>
    {% endif %}
{% endmacro %}
